{% load i18n sekizai_tags %}

{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}jplusplus/vendors/NaturalLanguageForm/js/modernizr.custom.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}jplusplus/vendors/NaturalLanguageForm/js/nlform.js"></script>{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}jplusplus/vendors/NaturalLanguageForm/css/default.css">{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}jplusplus/vendors/NaturalLanguageForm/css/component.css">{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" type="text/less" href="{{STATIC_URL}}jplusplus/less/contact_form.less">{% endaddtoblock %}

<form id="nl-form" class="nl-form" method="post" action="/contact">
	<div class="body container">
		<div class="row" style="position:relative;">
			<div class="col-md-5">
				Hi, my name is <input type="text" value="" placeholder="your name" />,<br/>
				and interested in your services for <input type="text" value="" placeholder="my company" />.
				<br/>
				We are specifically looking to implement 
				<select>
					<option value="1" selected>a service</option>
					<option value="2">evangelize</option>
					<option value="3">code apps</option>
					<option value="4">investigate</option>
					<option value="5">consulting</option>
					<option value="6">design</option>
					<option value="7">all</option>
				</select>
				and have a <input type="text" value="" placeholder="budget of"  data-subline="1 000 000 000 ?"/>
				,
				<br/>
				our ideal timeframe to implement this is 
				<select>
					<option value="1" selected>1 month</option>
					<option value="2">1 century</option>
				</select>.
				<br/>
				Please contact me at <input type="text" value="" placeholder="email"  data-subline="1 000 000 000 ?"/>.
			</div>
			<div class="col-md-2" style="position: absolute; bottom: 0; left: 460px;"> {# FIXME #}
				<a class="nl-submit btn btn-outline-inverse btn-sm" type="submit">SEND</a>
			</div>
		</div>
	</div>
	<div class="nl-overlay"></div>
</form>

{% addtoblock "js" %}
<script type="text/javascript">
	new NLForm(document.getElementById('nl-form'));
</script>
{% endaddtoblock %}
