{% load i18n sekizai_tags %}

{% addtoblock "css" %} <link rel="stylesheet" type="text/less" href="{{STATIC_URL}}jplusplus/less/projects_mosaic.less">{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/coffeescript" src="{{STATIC_URL}}jplusplus/coffee/projects_mosaic.coffee"></script>{% endaddtoblock %}

<div class="projects_mosaic projects_mosaic_{{instance}}">
	<div class="project template">
		<div class="illustration"></div>
		<div class="title"></div>
	</div>
</div>

{% addtoblock "js" %}
	<script type="text/coffeescript">
		new Mosaïc(".projects_mosaic_{{instance}}", {{ instance }})
	</script>
{% endaddtoblock %}
