{% load i18n sekizai_tags %}

{% addtoblock "js" %}<script type="text/coffeescript" src="{{STATIC_URL}}coffee/script.coffee"></script>{% endaddtoblock %}

<div class="projects">
	{% for project in projects %}
		<div class="title"><h3>{{ project.title }}</h3></div>
		<div class="description">{{ project.description | safe }}</div>
		{% if office %}
			<a href="{% url 'jplusplus_project_details' office=office slug=project.slug %}">link</a>
		{% else %}
			<a href="{% url 'jplusplus_project_details' slug=project.slug %}">link</a>
		{% endif %}
	{% endfor %}
</div>
