.nl-form {
	width       : 100%;
	margin      : 0.3em auto 0 auto;
	font-size   : 2em;
	line-height : 1.5;
	a {
		color           : white;
		text-decoration : none;
		&:hover {
			text-decoration : none;
			color           : white;
		}
	}
	.body {
		background-color : #DCD2C8;
		padding          : 20px;
	}
	.nl-submit-wrap {
		text-align: right;
		.nl-submit {
			width: 100%;
			background-color : #CCC2B8;
			color            : white;
			font-size        : 0.5em;
			vertical-align   : top;
			font-weight      : bold;
			border           : 0px;
		}
	}
	.nl-field-toggle,
	.nl-form input,
	.nl-form select  {
		line-height: inherit;
		display: inline-block;
		color: white;
		cursor: pointer;
		border-bottom: 1px solid white;
	}
}