@import "variables.less";

.nl-form {
	width            : 100%;
	margin           : 0.3em auto 0 auto;
	font-size        : 1.2em;
	line-height      : 1.75em;
	background-color : @blue_background;
	color            : @blue_on_blue;
	box-shadow       : 0  1px 24px -10px rgba(0, 0, 0, 0.7) inset,
		               0 -1px 24px -10px rgba(0, 0, 0, 0.7) inset;
	padding          : 20px 0px;
	a, a:hover {
		color           : white;
		text-decoration : none;
	}
	.nl-submit {
		border-color : white;
		// position     : absolute;
		// bottom       : 20px;
	}
	.nl-field-toggle,
	.nl-form input,
	.nl-form select  {
		line-height   : inherit;
		display       : inline-block;
		color         : white;
		cursor        : pointer;
		border-bottom : 1px solid white;
		line-height   : 1.2em;
	}
}
