@import "variables.less";

.projects_mosaic {
    .filters {
        list-style: none;
        margin : 20px 0;
        padding: 0;
        .filter {
            display: inline-block;
            margin-right: 2em;
            text-transform: uppercase;
            padding: 0 .3em;
            cursor: pointer;
            &.active {
                background-color: #E5E0DA;
            }
        }
    }
    .projects {
        position : relative;
        list-style: none;
        .project {
            position: absolute;
            cursor: pointer;
            left: 0;
            top: 0;
            transition-property: left, top;
            transition-duration: .5s;
            .frame {
                position: relative;
                box-shadow: 0px 0px 2px 1px rgba(0,0,0,.37);
                .illustration {
                    background-size: cover;
                    width          : 100%;
                    height         : 100%;
                }
                &:hover .overlay {
                    opacity: .7;
                }
                .overlay {
                    position            : absolute;
                    bottom              : 0;
                    top                 : 0;
                    left                : 0;
                    right               : 0;
                    background-color    : black;
                    background-image    : url(../../logos/jpp_logo.png);
                    background-size     : 11%;
                    background-repeat   : no-repeat;
                    background-position : 50%;
                    opacity             : 0;
                    transition-property : opacity;
                    transition-duration : .25s;
                }
            }
            .title {
                font-size: .9em;
            }
        }
    }
}
