.project-details {
	.about, .link {
		margin-bottom: 20px;
	}
	.about {
		.illustration {
			position        : relative;
			width           : 115%;
			left            : -15%;  // TODO : disable lefting on small screen, when the cols breaks
			height          : 400px;
			background-size : cover;
		}
	}
}