.trombinoscope {
	.item {
		// display: inline-block;
		float:left;
		width: 200px;
		//position: relative;
		margin-left: 20px;
		margin-bottom: 20px;
		.image-wrapper {
			position        : relative;
			background-size : cover;
			height          : 200px;
			color           : white;
			width           : 100%;
			.header, .footer {
				padding-left: 10px;
			}
			.header {
				padding-top : 10px;
				line-height : 1.2em;
				font-size   : 1.5em;
				font-weight : 100;
				.last-name {
					font-weight: bold;
				}
				text-shadow: 1px 1px 1px rgba(81, 77, 73, 0.9);
			}
			.footer {
				padding-top     : 5px;
				padding-bottom  : 5px;
				text-transform  : uppercase;
				position        : absolute;
				background-color: rgba(62, 62, 62, 0.56);
				bottom : 0 ; left: 0; right: 0;
			}
		}
	}
	&:after { // because of float:left on item
		content : "";
		display : table;
		clear   : both;
	}
}
