@import "variables.less";

// Global settings
body .container-fluid {
	font-family: 'Merriweather Sans', 'sans-serif';
	padding: 0px;
	h1, h2, h3 {
		text-transform : uppercase;
		font-family: 'Lato', 'sans-serif';
		font-weight: bold;
	}
	h1 {font-size: 3.5em;}
	h2 {
		color          : @grey;
		margin-bottom  : .5em;
	}
	h3 {
		color          : #BE1627;
		margin-bottom  : .5em;
		font-weight    : 100;
	}
	// separator – below subtitles and plugins last paragraph 
	h2, .cms_plugin > p:last-child, .separator {
		&:after {
			color       : black;
			content     : "–";
			display     : block;
			line-height : 0em;
			margin-top  : .4em;
			font-size   : 25px;
			font-family: 'Merriweather Sans', sans-serif;
			font-weight: normal;
		}
	}
	.separator { margin-bottom: 20px;}
	// button
	.btn {
		border-radius    : 0px;
		text-transform   : uppercase;
		font-weight      : bold;
		background-color : @grey;
		color            : white;
	}
	.hint {
		color : @grey;
	}
}

// inside the content block
body > .container-fluid > .body {
	background-color: #fff;
	margin-bottom   : 100px;
	margin-top      : @margin_under_header;

	.first-page {
		transition-property : height;
		transition-duration :.25s;
		text-align          : center;
		background-color    : @grey;
		padding-top         : 80px;
		color               : white;
		position            : relative;
		z-index             : 2; // upper the header for the shadow
		box-shadow          : 0px 0px 20px rgba(0,0,0, .2);
		margin-top          : -@margin_under_header; // remove the margin-top set above
		margin-bottom       : 100px;
		img, h1 {margin-bottom: 20px;}
		p {
			margin-bottom : 0px;
			font-size     : 2em;
			&:last-child { // underline for last sentence
				display       : inline-block;
				border-bottom : 1px solid rgba(255,255,255, .3);
				font-family: 'Lato', 'sans-serif';
				font-weight: 300;
			}
			&:after {content:none;} // remove separator
		}
		.cms_plugin { display: block}
		.scroll-indicator {
			width           : 100%;
			height          : 42px;
			cursor          : pointer;
			position        : absolute;
			bottom          : 20px;
			background-image   : url({{ STATIC_URL }}img/next-home.png);
			background-position: center;
			background-repeat  : no-repeat;
			&:hover         {background-image: url({{ STATIC_URL }}img/next-home-hover.png);}
		}
	}
}

@media (max-height: 600px) {
	body > .container-fluid > .body .first-page {
		padding-top:10px;
		img, h1 {
			margin-bottom: 10px;
		}
	}
}