// Global settings
body {
	background-color: #CCC2B8;
	color           : #595551;
	h1, h2, h3 {
		text-transform : uppercase;
	}
	h2 {
		color          : #CCC2B8;
		margin-bottom  : .5em;
	}
	h3 {
		color          : #BE1627;
		margin-bottom  : .5em;
	}
	// separator – below subtitles and plugins last paragraph 
	h2, .cms_plugin .container p:last-child {
		&:after {
			color       : black;
			content     : "–";
			display     : block;
			line-height : 0em;
			margin-top  : .4em;
			font-size   : 25px;
		}
	}
}

// inside the content block
body > .container-fluid > .body {
	background-color: #fff;
	.first-page {
		text-align       : center;
		background-color : #CCC2B8;
		padding-top      : 80px;
		color            : white;
		position         : relative;
		z-index          : 2; // upper the header for the shadow
		box-shadow       : 0px -3px 10px rgba(0,0,0, .2);
		margin-bottom    : 50px;
		img, h1 {margin-bottom: 20px;}
		img     {width: 100px;} // for current logo wich need to be changed
		p {
			margin-bottom : 0px;
			font-size     : 2em;
			&:last-child { // underline for last sentence
				display: inline-block;
				border-bottom: 1px solid rgba(255,255,255, .3);
			}
		}
	}
}
