{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% page_attribute "page_title" %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL}}img/favicon.png">
    <meta name="twitter:card" content="summary_large_image">
    <!-- <meta name="twitter:description" content=""> -->
    <meta property="og:image" content="{{ request.build_absolute_uri }}img/share.png"/>
    <meta property="og:title" content="{% page_attribute "page_title" %}"/>
    <meta property="og:site_name" content="Journalism++"/>
    <meta property="og:type" content="website"/>

    {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
    {% addtoblock "css" %}<link rel="stylesheet" type="text/less" href="{{STATIC_URL}}css/bootstrap.min.css">{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" type="text/less" href="{{STATIC_URL}}less/sprite.less">{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" type="text/less" href="{{STATIC_URL}}less/style.less">{% endaddtoblock %}
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,400italic,300,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
      <div class="container-fluid loading" style="opacity:0">
        {% cms_toolbar %}
        {% addtoblock "js" %}
          <!-- when debug toolbar is open, page height change -->
          {# TODO: only for admin #}
          <script type="text/javascript">
            if (window.CMS != null) {
            window.CMS.$(document).on('cms-ready', function () {$(document).trigger("heightHasChanged")});
          }
          </script>
        {% endaddtoblock %}

        <div class="header">{% block header %}{% endblock header %}</div>
        <div class="body">{% block content %}{% endblock content %}</div>
        {% block footer %}{% endblock footer %}
      </div>

    <script src="{{STATIC_URL}}js/jquery-1.11.0.min.js"></script>
    <script src="{{STATIC_URL}}js/underscore-min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    {% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}
  </body>

</html>
