{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block content %}

	{% addtoblock "js" %}<script type="text/coffeescript" src="{{STATIC_URL}}coffee/navigation.coffee"></script>{% endaddtoblock %}

	<div class="header">
		{% include "navigation.html" %}
	</div>

	<div class="first-page">
		<img src="{{ STATIC_URL }}logos/jpp_logo.png"/>
		<h1>Journalism++</h1>
		{% placeholder "first-page" %}
	</div>

	<div>
		{% placeholder "body" %}
	</div>

	{% addtoblock "js" %}<script type="text/coffeescript">new window.Navigation()</script>{% endaddtoblock %}

{% endblock content %}
