{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% language_chooser "menu/language_chooser.html" %}

<div class="navigation">
  <div class="logo">
    <img src="{% static "logos/jpp_logo.png" %}"/>
  </div>
  <div class="menu">
    {% show_menu 1 2 100 100 "menu.html" %}
  </div>
  <div class="current-chapter">
    <div class="current-chapter__title">Chapitre:</div>
    <div class="item">
      <div class="item__chapter">PARIS-BERLIN</div>
      <div class="item__close">X</div>
    </div>

  </div>
  <div class="contact-us">
    <div class="contact-us__button">contact us</div>
    <div class="contact-us__email">bonjour@jplusplus.org</div>
  </div>
  <div class="follow-us">
    <div class="follow-us__title">
      Follow us on
    </div>
    <div class="follow-us__media">
      <ul>
        <li><img src="" alt="facebook" /></li>
        <li><img src="" alt="twitter"  /></li>
        <li><img src="" alt="github"   /></li>
      </ul>
    </div>
  </div>

</div>
