{% load cms_tags staticfiles sekizai_tags menu_tags i18n %}

{% addtoblock "css" %}<link rel="stylesheet" type="text/less" href="{{STATIC_URL}}less/navigation.less">{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" type="text/less" href="{{STATIC_URL}}less/navigation_chapter.less">{% endaddtoblock %}

<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-menu">
        MENU <b class="caret"></b>
      </button>
      <a class="title" href="{% page_url "home" %}">{% trans "Journalism++ home" %}</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-menu">
      <div class="navbar-menu">
        <ul class="nav navbar-nav">
          <li class="title"><a href="#our-team">{% trans "Our Team" %}</a></li>
          <li class="title"><a href="#our-work"  >{% trans "Our Work" %}</a></li>
           <li class="logo" ><a href="{{url_prefix}}">
            <img src="{{STATIC_URL}}img/logo.png"/>
            {% page_attribute "page_title" %}
          </a></li>
          <li class="title"><a href="#lets-talk" >{% trans "Let's Talk" %}</a></li>
        </ul>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown languages">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "LANGUAGE" %} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% language_chooser "menu/language_chooser.html" %}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
